{% extends "base.html" %}

{% block title %}About - My Flask App{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>About Us</h1>
        <p class="lead">Learn more about our application and team.</p>
        
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Our Mission</h5>
                <p class="card-text">
                    We strive to create simple, effective, and user-friendly web applications
                    using modern technologies and best practices.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 